@page "/rws"

@inherits LayoutComponentBase

<article>
	<header>
		<h1>Waldorf Education</h1>
		<p>7 - 16 years at Ringwood Waldorf School</p>
	</header>

	<div class="gallery">
		<img src="/Images/1.jpg" />
		<img src="/Images/2.jpg" />
		<img src="/Images/3.jpg" />
		<img src="/Images/4.jpg" />
		<img src="/Images/5.jpg" />
		<img src="/Images/6.jpg" />
	</div>
</article>