
<div>
    <section>
      <nav>
        <ul>
          <li>
            <NavLink href="elements">Elements</NavLink>
          </li>
          <li>
            <NavLink href="rws">Waldorf Education</NavLink>
          </li>
        </ul>
      </nav>
    </section>
</div>